@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

html{
  background-image: url(https://subtlepatterns.com/patterns/purty_wood.png);
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #d62929;
}

button {
  color: white;
  font-size: 18px;
  height: 50px;
  width: 60px;
  border-radius: 10px;
  background-color: #444;
  margin: 0 6px 10px 8px;
  border: none;
  box-shadow: 0px 3px 0px 0px #222;
}

footer{
  text-align: center;
  margin: 30px;
  font-size: 16.5px;
  font-weight:bold;
}

input[type=text] {
  position: relative;
  border: 0px;
  font-size: 50px;
  border: 1px solid #d9d9d9;
  box-shadow: inset -4px 7px 9px -3px rgba(0,0,0,0.7);
  color: transparent;text-shadow: 0 0 0 #80ff00;
  background-color: #444;
  font-weight: bold;
  height: 100px;
  width: 322px;
  margin: 20px 20px 0px 13px;
  padding: 0px 5px 0px 5px;
  border-radius: 15px;
  font-family: 'Orbitron', sans-serif;
}

#container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#calculator {
  margin: auto;
  height: 460px;
  width: 350px;
  background-color:#888;
  border: 1px solid #555;
  border-radius: 20px;
  box-shadow: 10px 11px 35px 2px rgba(0, 0, 0, 0.6), inset -2px -5px 12px 0px #333;
}

#buttons {
  position: absolute;
  display: inline-block;
  width: 340px;
  height: auto;
  margin-top: 5px;
  margin-left: 22px;
}

#equal{
  position: relative;
  top: 186px;
  left: 12px;
  height: 111px;
}

#zero{
  width: 138px;
}

#other_buttons {
  position: relative;
  display: inline-block;
  width: 240px;
  top: 218px;
  left: 22px;
}

.red {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #d62929;
  box-shadow: 0px 3px 0px 0px #671c2a;
}

button:hover, a:hover{
  cursor: pointer;
  opacity: 0.9;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}
